# Dependencies
bs.d
# OS
Thumbdea/
ode/
.i
# IDE
.vscnv.d.ts

next-efoldin
*.tsbuiiptcrypeS
# Tercel
# Vercel
.v.env

ocal
.env*.lenv files
 Local 

#*error.log*
yarn-rn-debug.logg*
yaug.lo
npm-debugm

# Deb*.peDS_Store


# Misc
.don
/buil# Producti

ut//o/
t.js
/.nexte

# Nexagting
/cover

# Tes
.pnp.jss
/.pnp_module/node
node_modules
